html {
    margin: 0;
    padding: 0;
    background: linear-gradient(60deg, black, blue, orange, red, black);
}

body {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}