@charset "UTF-8";

@media screen and (min-width: 768px) {

    .material-symbols-outlined {
        display: none;
    }

    nav{
        display: block;
    }

    nav > ul > li {
        display: inline-block;
    }

    main{
        width: 720px;
    }
}