.verde-claro{
    background-color: aquamarine;
}

.azul{
    background-color: cornflowerblue;
}

.rosa{
    background-color: hotpink;
}

.laranja-escuro{
    background-color: orangered;
}

.verde-forte{
    background-color: green;
}

.marrom{
    background-color: burlywood;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
}

.verde-claro{ 
    /* 
    grid-row-start
    grid-column-start
    grid-row-end
    grid-column-end
    */   
    grid-area: 1 / 1 / 3 / 3;
}

.azul{
    grid-area: 1 / 3 / 1 / 6;
}

.rosa{
    grid-area: 3 / 1 / 3 / 3;
}

.laranja-escuro{
    grid-area: 2 / 3 / 4 / 5;  
} 