@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #0BB1D9, #006CF0);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.418);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #0B1ED9;
    text-align: center;
    text-shadow: 1px 1px 2px #030a477a;
}

h2{
    color: #4D0CF8;
}

p{
    text-align: justify;
}