@charset "UTF-8";

body{background-color: rgb(183, 240, 183);
    font-family: Arial, Helvetica, sans-serif;}

h1{color: rgb(0, 0, 0);
}

#principal{
   text-align: center;
   background-color: green;
   color: white; 
}

.destaque{
    background-color: rgb(217, 236, 150);
    font-weight: bolder;
}

.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

h2{color: green;
}

