/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/css/estilo.css ***!
  \********************************************************************************************************************/
html {
  margin: 0;
  padding: 0;
  background: lightcoral; }

body {
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/css/teste.css ***!
  \*******************************************************************************************************************/
h1 {
  color: white;
  font-weight: bolder;
  font-family: Helvetica, sans-serif;
  font-size: 80px; }

/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/scss/index.scss ***!
  \*********************************************************************************************************************/
.botao {
  background-color: #10d02a;
  color: #fff;
  font-size: 4em;
  font-weight: bolder; }

